backports.functools-lru-cache==1.5
certifi==2018.4.16
cloudpickle==0.5.3
cycler==0.10.0
dask==0.18.2
decorator==4.3.0
et-xmlfile==1.0.1
icc-rt==2018.0.3
intel-numpy==1.14.3
intel-openmp==2018.0.3
jdcal==1.4
kiwisolver==1.0.1
lime==0.1.1.31
matplotlib==2.2.2
mkl==2018.0.3
mkl-fft==1.0.2
mkl-random==1.0.1
networkx==2.1
numpy==1.14.5
openpyxl==2.5.5
pandas==0.23.3
Pillow==5.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
subprocess32==3.5.2
toolz==0.9.0
wincertstore==0.2
plotly==2.2.2